<html>
  <head>
      {% if title %}
          <title>Flask Blog {{ title }}</title>
      {% else %}
          <title>Flask Blog Placeholder</title>
      {% endif %}
  </head>
<style>
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);

body{
    text-align: center;
}
h1{
    font-family: 'Amatic SC', cursive;
    font-weight: normal;
    color: #8ac640;
    font-size: 2.5em;
}

p{
  color: #215ac1;
}

</style>

</head>
<body>
 {% block content %}{% endblock %}

</body>
</html>
